.flowblock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 160px;
  min-height: 120px;
  border-radius: 10px;
  background-color: white;
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  -webkit-box-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.25);
  box-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.25);
}
