.flowblock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 160px;
  min-height: 120px;
  border-radius: 10px;
  background-color: white;
  -ms-touch-action: none;
      touch-action: none;
  position: absolute;
}
